.app {
    max-width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    background:#2f74c0;
    font-family: 'Neucha', cursive;
}

.heading {
    text-align:center;
    text-transform: uppercase;
    color:#ffffff;
    padding:1rem 0;
}




